.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn:focus {
  outline: none !important;
  outline-offset: none !important;
}


.load-enter, .load-appear {
  opacity: 0;
}

.load-enter-active, .load-appear-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.load-enter-done, .load-appear-done {
  opacity: 0;
}

.load-exit {
  opacity: 0;
}

.load-exit-active {
  opacity: 1;
  transition: opacity 1000ms;
}
